.c-gallery {
    background-color: $colorBackgroundWhite;
    padding: 50px 15px;
    position: relative;
    overflow: hidden;
    
    &__deformed-background {
        position: absolute;
        width: 1250px;
        height: 2000px;
        background-color: $colorBackgroundBlack;
        top: -70px;
        left: -100px;
        transform: rotate(66deg) translate(0%);
        border: 30px solid $colorPrimary;
    }

    &__title {
        font-size: 40px;
        font-weight: 700;
        color: $colorBlack;
        box-shadow: 0px 1px 0 0 $colorPrimary, 0px 2px 0 0 $colorBlack;
        margin-bottom: 15px;
    }

    &__carousel {
        height: 450px;
        overflow: hidden;
    }
    
    &__element {
        position: relative;
    }
    
    &__element-img {
        width: 100%;
        height: 100%;
        background-color: black;
        object-fit: cover;
    }
    
    &__element-img-blurr {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 75px;
        overflow: hidden;
        background-color: #e5e5e5;
    }
    
    &__element-img-blurr > &__element-img {
        position: absolute;
        bottom: -7.5px;
        left: -7.5px;
        width: calc(100% + 15px);
        height: auto;
        object-fit: cover;
        filter: blur(15px) brightness(.75);
    }
    
    &__element-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
    }
    
    &__element-texts {
        float: left;
        width: calc(100% - 70px);
    }

    &__element-title,
    &__element-subtitle {
        color: $colorWhite;
    }

    &__element-title {
        font-size: 20px;
        font-weight: 900;
    }
    
    &__element-subtitle {
        font-size: 16px;
        margin-top: 5px;
        line-height: 1;
        > span { color: $colorSecondary; }
    }
    
    &__element-index {
        float: right;
        width: 70px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        display: none;
    }

    &__element-index-mark {
        width: 10px;
        height: 10px;
        background-color: $colorWhite;
        display: inline-block;
        border-radius: 50%;
        &-active {
            background-color: $colorPrimary;
        }
    }
    
}