.c-header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: $colorBackgroundWhite;
  padding: 0 15px;
  display: table;
  z-index: $zIndexTop;

  &__name,
  &__menu { 
    display: table-cell; 
    vertical-align: middle;
  }

  &__menu {
    width: 1px;
    padding-right: 15px;
  }

  &__menu-icon {
    font-size: 25px;
    color: $colorSecondary;
  }

  &__name {
    width: 120px;
    margin: -10px 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
  }

  &__bottom-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, $colorPrimary, $colorSecondary);
  }
}
