$colorPrimary: #48A0E2;
$colorSecondary: #FF0652;
$colorWhite: #FFFFFF;
$colorBlack: #4e4e4e;
$colorBackgroundWhite: #E5E5E5;
$colorBackgroundBlack: #555555;

$screenXL: 768px;
$screenSM: 992px;
$screenMD: 1024px;
$screenLG: 1200px;
