.o-container {
    margin: 0 auto;

    @media (min-width: $screenXS) {  max-width: $screenXS; }
    
    @media (min-width: $screenSM) {  max-width: $screenSM; }
    
    @media (min-width: $screenMD) {  max-width: $screenMD; }
    
    @media (min-width: $screenLG) {  max-width: $screenLG; }
}