// Overrides to Slick css:

.slick-prev:before, .slick-next:before { font-size: 45px;}

.slick-dots {
    height: 65px;
    width: auto;
    right: 10px;
    bottom: 5;
    padding-top: 25px;
}

.slick-dots li  {
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
}

.slick-dots li button:before {
    opacity: 1 !important;
    color: white; 
    transition: ease .333s all;
    font-size: 12px;
}

.slick-dots li.slick-active button:before { color: $colorPrimary }